<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>Project Organization and Management</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:00 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 1   -->
        <td>3:15 pm</td>        <!-- time    -->
        <td>Introduction to the Command Line</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>Data Wrangling and Processing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:00 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>Continuation: Data Wrangling and Processing</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:00 pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>Introduction to Cloud Computing for Genomics</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>3:00 pm</td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
